.ns-mosaic-item {
  margin-bottom: 1rem;
  border-radius: 8px;
}

#zx9 {
  background: #d87d4a;
  color: #fff;
}

#zx9 img {
  max-width: 500px;
  max-height: 410px;
  background-position: center;
  padding: 2rem;
}

#zx9 .speaker-info {
  padding: 5rem;
  margin: auto 0;
}

#zx7 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#zx7 .speaker-info {
  padding: 5rem;
}

#yx1 {
  background: #f1f1f1;
  padding: 5rem;
  height: 320px;
}

#yx1-img {
  background-size: cover;
  background-position: center;
  height: 320px;
}
