.ns-menu {
  margin-bottom: 5rem;
}

.ns-menu-item:first-of-type {
  margin-top: 1rem;
}

.ns-menu-item {
  margin-bottom: 2.5rem;
  background: #f1f1f1;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  min-height: 180px;
}

.ns-menu-item img {
  transform: translateY(-25px);
  max-width: 140px;
  max-height: 180px;
}

.ns-menu-item-text {
  transform: translateY(-25px);
}
