.featured-product {
  margin-bottom: 5rem;
}

.featured-product-img {
  background: #f1f1f1;
  border-radius: 8px;
}

.featured-product-img img {
  max-width: 100%;
  max-height: 100%;
}

.featured-product-text {
  padding: 5rem;
}

.featured-product-text {
  margin: auto 0;
}

@media only screen and (max-width: 750px) {
  .featured-product-text {
    padding: 2rem 0;
    text-align: center;
  }
}
