.some-guy {
  margin-top: 5rem;
}

.some-guy-text-container {
  margin: auto 0;
}

.some-guy-text {
  padding: 5rem;
}

.some-guy-img {
  background-position: center;
  background-size: cover;
  height: 588px;
  border-radius: 8px;
}

@media only screen and (max-width: 750px) {
  .some-guy-text {
    padding: 2rem 0;
    text-align: center;
  }
}
