footer {
  width: 100%;
  background: #101010;
}

#orange-rectangle {
  min-height: 4px;
  max-height: 4px;
  min-width: 100px;
  max-width: 100px;
  background: #d87d4a;
  margin-left: 5rem;
}

.footer-content {
  color: #fff;
  padding: 3rem 5rem;
}

.footer-nav-brand {
  font-size: 20px;
  font-weight: 800;
}

.footer-item {
  padding-bottom: 2rem;
}

.footer-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-icon {
  padding: 0.25rem;
  cursor: pointer;
}

.footer-nav-right {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1000px) {
  .footer-item {
    text-align: center;
  }

  .footer-icons {
    justify-content: center;
    flex-direction: column;
  }

  .footer-content {
    padding: 2rem;
  }

  .footer-nav-right {
    flex-direction: column;
  }
}
