@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

:root {
  --dark-color: black;
}

html {
  min-height: 100%;
  font-family: "Manrope", sans-serif;
}

body {
  margin: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
