.headphones-div {
  /* background-image: url("/assets/home/desktop/image-hero.jpg"); */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 729px;
  color: #fff;
}

.ad-section {
  height: calc(100% - 97px);
  display: flex;
  justify-content: left;
  align-items: center;
}

.ad-container {
  margin-left: 5rem;
  max-width: 400px;
}

@media only screen and (max-width: 600px) {
  .ad-container {
    margin-left: 0;
    max-width: 400px;
    text-align: center;
  }

  .ad-section {
    display: flex;
    justify-content: center;
  }
}
